* {
margin: 0;
padding: 0;
}

body {
color: #2e2c2a;
font-size: 15px;
font-family: Verdana;
}

a {
color: #1aa602;
text-decoration: underline;
}

ul {
list-style-type: none;
}

.bpad {
margin-bottom: 25px;
}

.lpad {
padding-left: 25px;
}

p, ul li {
margin-bottom: 25px; 
}

ul li {
list-style-type: none;
margin-bottom: 10px;
}

li.item {
padding: 25px;
}

li.item:nth-child(even) {
background: #f4f4f4;
}

a:hover {
text-decoration: none;
}

h1 {
font-size: 30px;
}

h2 {
font-size: 20px;
}

.title {
margin-bottom: 25px;
}

.block {
padding: 50px;
}

header {
background: #1aa602;
color: white;
/*width: 100%;*/
padding: 100px 50px 0 50px;
line-height: 35px;
border-bottom: 20px solid #1cbf00;
}

header h1 {
font-size: 50px;
}

header .block {
padding: 0;
}

#container {
width: 100%;
margin: 0 auto;
}

#content {
float: left;
width: 80%;
}

#sidebar {
float: left;
width: 20%;
background: #f4f4f4;
}

table {
width: 100%;
border-spacing: 0;
border-collapse: collapse;
}

table.detail {
margin-bottom: 25px;
}

table.detail td {
padding: 20px;
}

table.detail tr:nth-child(odd) {
background: #f4f4f4;
}

input {
width: 100%;
border-radius: 0px;
border: 1px solid #f4f4f4;
padding: 15px;
}

button {
background: #1aa602;
color: white;
padding: 15px;
border: none;
}

ul.messages {
margin-bottom: 40px;
}

ul.messages li {
background: #ffff5f;
padding: 25px;
}

.green {
font-weight: bold;
color: #1cbf00;
}

.square {
background: #1cbf00;
color: white;
width: auto;
display: block;
}

.square:hover {
backgroubd: #1aa602;
}
