{% extends "base.html" %}

{% block title %}
	Tournaments
{% endblock %}

{% block header %}
	List of tournaments
{% endblock %}

{% block content %}

	{% if front %}
    	<ul>
    	{% for t in front %}
        	<li class="item">
                <p>
            		<a href = "{% url 'tournaments:single' t.id %}">
            		<h2>
            		{{t.name}}
            		</h2>
            		</a>
            	</p>
            	<p>
            		sport: <i>{{t.sport}}</i>
            	</p>
            	<p>
            		entry: <i>{{t.entry}} CZK</i>
            	</p>
            	<p>
            		players: <i>{{t.player_count}}</i>
            	</p>
        	</li>
    	{% endfor %}
    	</ul>
	{% else %}
    	<p>No tournaments to show.</p>
	{% endif %}
{% endblock %}

