{% extends "base.html" %}

{% block title %}
	Tournament - {{tournament.name}}
{% endblock %}

{% block header %}
	Tournaments > {{tournament.name}}
{% endblock %}

{% block content %}

	<h2 class = "title">{{tournament.name}}</h2>

		<table class = "detail">
		<tr>
		<td>poradatel</td>
		<td><a href="{% url 'users:single' tournament.poradatele.id %}">{{tournament.poradatele.username}}</a></td>
		</tr>		
		<tr>
		<td>sport</td>
		<td>{{tournament.sport}}</td>
		</tr>
		<tr>
		<td>entry</td>
		<td>{{tournament.entry}}</td>
		</tr>
		<tr>
		<td>players</td>
		<td>{{tournament.player_count}}</td>
		</tr>
		<tr>
		<td>started</td>
		<td>{{tournament.started}}</td>
		</tr>
		<tr>
		<td>singleplayer</td>
		<td>{{tournament.singleplayer}}</td>
		</tr>	
				
		</table>

		<h2 class="title">Rozhodci ({{rozhodci|length}})</h2>
		{% if user.is_authenticated and permitted == True and user not in rozhodci %}
    		<p>
    		<form action="{% url 'forms:request_add_rozhodci' tournament.id user.id %}" method="POST">
        		{% csrf_token %}
        		<input class="square" type="submit" value="I wanna be rozhodci">
    		</form>
    		</p>
		{% endif %}

		{% if rozhodci %}
		<table class = "detail">
    	{% for r in rozhodci %}
			<tr>
			<td><a href="{% url 'users:single' r.id %}">{{r.last_name}}, {{r.first_name}}</a></td>
			</tr>
		{% endfor %}	
		</table>
		{% else %}
    		<p>No rozhodci registered.</p>
		{% endif %}	

		<h2 class="title">Teams ({{teams|length}})</h2>
		
		{% if teams %}
		<table class = "detail">
    	{% for t in teams %}
			<tr>
			<td><a href="{% url 'teams:single' t.id %}">{{t.name}}</a></td>
			{% if t.flag %}
				<td>
				<img src="{{t.flag.url}}" width = "100" />
				</td>
			{% endif %}
			</tr>
		{% endfor %}	
		</table>
		{% else %}
    		<p>No teams registered.</p>
		{% endif %}		

{% endblock %}

