{% extends "base.html" %}

{% block title %}
	Teams
{% endblock %}

{% block header %}
	List of teams
{% endblock %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
  $("#toggle").click(function() {
    $("#form").toggle("fast");
  });
});
</script>

{% if user.is_authenticated %}
<button id="toggle">+ Team</button>
	<div class = "bpad" id = "form" style="display: none; padding-top: 25px;">
		<form method="post" action="{% url 'teams:index' %}">
		{% csrf_token %}
		{{add_new.as_p}}		
        <input class="square" type="submit" value="Create new team">
		</form>
	</div>
{% endif %}


	{% if front %}
    	<ul>
    	{% for t in front %}
        	<li class="item">
                <p>
            		<a href = "{% url 'teams:single' t.id %}">
            		<h2>
            		{{t.name}}
            		</h2>
            		</a>
            	</p>
            	{% if t.flag %}
            	<p>
            		<img src='{{t.flag.url}}' width='100' />
            	</p>
            	{% endif %}
        	</li>
    	{% endfor %}
    	</ul>
	{% else %}
    	<p>No tournaments to show.</p>
	{% endif %}
{% endblock %}

