{% extends "base.html" %}

{% block title %}
    Team - {{ team.name }}
{% endblock %}

{% block header %}
    Teams > {{ team.name }} {% if team.singleplayerteam %} (single-player) {% endif %}
{% endblock %}

{% block content %}

    <h2 style="margin-top: 40px">Statistics</h2>
    <h4>Number of matches played: {{ teams_matches|length }}</h4>
    <h4>Number of matches won: {{ won_matches|length }}</h4>
    <h4>Won matches percentage: {{ percentage }} %</h4>

    <h2 class="title" style="margin-top: 40px">Team logo</h2>

    <p>
        {% if team.flag %}
            <img src="{{ team.flag.url }}" width="100"/>
        {% else %}
            No logo uploaded.
        {% endif %}
    </p>

    {% if user.is_authenticated and user == team.managers and permitted == True %}
        <p>
        <form action="{% url 'forms:delete_team' team.id %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger" style="max-width: min-content" type="submit" value="Delete team">
        </form>
        </p>
    {% endif %}

    <h2 class="title">Manager</h2>

    <table class="detail">
        <tr>
            <td><a href="{% url 'users:single' manager.id %}">{{ manager.first_name }} {{ manager.last_name }}</a></td>
        </tr>
    </table>

    <h2 class="title">Players ({{ players|length }})</h2>

    {% if user.is_authenticated and able_to_play == True %}
        <p>
        <form action="{% url 'forms:request_add_player' team.id user.id %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" style="max-width: min-content" type="submit" value="I wanna play">
        </form>
        </p>
    {% endif %}

    {% if players %}
        <table class="detail">
            {% for p in players %}
                <tr>
                    <td><a href="{% url 'users:single' p.id %}">{{ p.first_name }} {{ p.last_name }}</a></td>

                    {% if user.is_authenticated and user == manager %}
                        <td>
                            <form action="{% url 'forms:remove_player' team.id p.id %}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-danger" style="max-width: min-content" type="submit" value="Kick him">
                            </form>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No players in this team.</p>
    {% endif %}

    <h2 class="title">Participating in tournaments ({{ tournaments|length }})</h2>

    {% if tournaments %}
        <table class="detail">
            {% for t in tournaments %}
                <tr>
                    <td><a href="{% url 'tournaments:single' t.id %}">{{ t.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No tournaments.</p>
    {% endif %}

{% endblock %}

