{% extends "base.html" %}

{% block title %}
	Team - {{team.name}}
{% endblock %}

{% block header %}
	Teams > {{team.name}}
{% endblock %}

{% block content %}

	<h2 class = "title">Team logo</h2>
	
        <p>
        {% if team.flag %}
        <img src = "{{team.flag.url}}" width = "100" />
        {% else %}
        No logo uploaded.
        {% endif %}
        </p>

    <h2 class = "title">Manager</h2>
    
		<table class = "detail">
			<tr>
			<td><a href="{% url 'users:single' manager.id %}">{{manager.last_name}}, {{manager.first_name}}</a></td>
			</tr>
		</table>

    <h2 class = "title">Players ({{players|length}})</h2>
    
    {% if user.is_authenticated and user not in team.managers.all and user not in team.players %}
    	<p>
        <form action="{% url 'forms:request_add_player' team.id user.id %}" method="POST">
            {% csrf_token %}
            <input class="square" type="submit" value="I wanna play">
        </form>
    	</p>
    {% endif %}
    
		{% if players %}
		<table class = "detail">
    	{% for p in players %}
			<tr>
			<td><a href="{% url 'users:single' p.id %}">{{p.last_name}}, {{p.first_name}}</a></td>
			</tr>
		{% endfor %}	
		</table>
		{% else %}
    	<p>No players in this team.</p>
		{% endif %}	
        
    <h2 class = "title">Participating in tournaments ({{tournaments|length}})</h2>
    
		{% if tournaments %}
		<table class = "detail">
    	{% for t in tournaments %}
			<tr>
			<td><a href="{% url 'tournaments:single' t.id %}">{{t.name}}</a></td>
			</tr>
		{% endfor %}	
		</table>
		{% else %}
    	<p>No tournaments.</p>
		{% endif %}	

{% endblock %}

