{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css'  %}" type="text/css" />
    <title>{% block title %}sportBET{% endblock %}</title>
</head>

<body>

	<div id = "container">

	<header>
	<div class="block">
	<h1>SportBET</h1>
	</div>
	</header>

    <div id="sidebar">
    	<div class="block">
        	{% block sidebar %}
        	<ul>
        		<li><a href="/">Homepage</a></li>
            	<li><a href="/tournaments">Tournaments</a></li>
            	<li><a href="/admin/">Admin</a></li>
        	</ul>
        	{% endblock %}
       	</div>
    	</div>

    	<div id="content">
    		<div class="block">
        	{% block content %}{% endblock %}
    		</div>
    </div>
   	</div>
    
</body>
</html>
