{% extends "base.html" %}

{% block title %}
	List of rozhodci
{% endblock %}

{% block header %}
	List of rozhodci
{% endblock %}

{% block content %}

	{% if players %}
    	<ul>
    	{% for p in players %}
        	<li class="item">
                <p>
            		<a href = "{% url 'users:single' p.id %}">
            		<h2>
            		{{p.last_name}}, {{p.first_name}}
            		</h2>
            		</a>
            	</p>
            	<p>
            		{% if p.tour_rozhodci %}
            		rozhodcuje 
            		{% for t in p.tour_rozhodci.all %}
            		<i>{{t.name}}</i>&nbsp;&nbsp;&nbsp;
            		{% endfor %}
            		{% endif %}
            		
            	</p>
        	</li>
    	{% endfor %}
    	</ul>
	{% else %}
    	<p>No rozhodci to show.</p>
	{% endif %}
{% endblock %}

