{% extends "base.html" %}

{% block title %}
    List of referees
{% endblock %}

{% block header %}
    List of referees
{% endblock %}

{% block content %}

    {% if players %}
        <ul class="inner">
            {% for p in players %}
                <li class="item">
                    <p>
                        <a href="{% url 'users:single' p.id %}">
                            <h2>
                                {{ p.first_name }} {{ p.last_name }}
                            </h2>
                        </a>
                    </p>
                    <p>
                        {% if p.tour_rozhodci %}
                            rozhodcuje:
                            {% for t in p.tour_rozhodci.all %}
                                <a href="{% url 'tournaments:single' t.id %}"><i>{{ t.name }}</i></a>&nbsp;/
                            {% endfor %}
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>

        <div class="paging">
            {% if players.has_previous %}
                <a href="?page={{ players.previous_page_number }}">&larr;</a>
            {% endif %}

            {{ players.number }} / {{ players.paginator.num_pages }}

            {% if players.has_next %}
                <a href="?page={{ players.next_page_number }}">&rarr;</a>
            {% endif %}
        </div>

    {% else %}
        <p>No referees to show.</p>
    {% endif %}
{% endblock %}

