{% extends "base.html" %}

{% block title %}
    Player - {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block header %}
    Player > {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

    <h1>{{ user.first_name }} {{ user.last_name }}</h1>

    <h2 style="margin-top: 40px">Statistics</h2>
    <h4>Number of matches played: {{ user_matches|length }}</h4>
    <h4>Number of matches won: {{ won_matches|length }}</h4>
    <h4>Won matches percentage: {{ percentage }} %</h4>

    <h2 style="margin-top: 40px">Roles</h2>

    <h3 class="title">Playing in teams ({{ user.team_teams.all|length }})</h3>

    {% if user.team_teams %}
        <table class="detail">
            {% for t in user.team_teams.all %}
                <tr>
                    <td><a href="{% url 'teams:single' t.id %}">{{ t.name }}</a></td>
                    {% if t.flag %}
                        <td><img src="{{ t.flag.url }}" width="100"/></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No teams.</p>
    {% endif %}

    <h3 class="title">Refereeing tournaments ({{ user.tour_rozhodci.all|length }})</h3>

    {% if user.tour_rozhodci %}
        <table class="detail">
            {% for t in user.tour_rozhodci.all %}
                <tr>
                    <td><a href="{% url 'teams:single' t.id %}">{{ t.name }}</a></td>
                    {% if t.flag %}
                        <td><img src="{{ t.flag.url }}" width="100"/></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No teams.</p>
    {% endif %}

    <h3 class="title">Managing teams ({{ user.team_managers.all|length }})</h3>

    {% if user.team_managers %}
        <table class="detail">
            {% for t in user.team_managers.all %}
                <tr>
                    <td><a href="{% url 'tournaments:single' t.id %}">{{ t.name }}</a></td>
                    {% if t.flag %}
                        <td><img src="{{ t.flag.url }}" width="100"/></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No teams.</p>
    {% endif %}

    <h2 class="title">Managing tournaments ({{ user.tour_poradatele.all|length }})</h2>

    {% if user.tour_poradatele %}
        <table class="detail">
            {% for t in user.tour_poradatele.all %}
                <tr>
                    <td><a href="{% url 'tournaments:single' t.id %}">{{ t.name }}</a></td>
                    {% if t.flag %}
                        <td><img src="{{ t.flag.url }}" width="100"/></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No teams.</p>
    {% endif %}




{% endblock %}

